<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>DC 헤드폰 갤러리 팝니다 글목록</title>
</head>

<body>
<div class="container">

  <div class="row">
    <table class="table table-hover text-center" style="table-layout: fixed">
      <!-- TODO bootstrap 적용해서 테이블 디자인 만들기 - 컬러 추가
           TODO 페이징 추가
           TODO 검색 기능 추가
       -->
      <thead>
      <tr>
        <th class="col-1">글번호</th>
        <th class="col-5">제목</th>
        <th class="col-2">작성일</th>
        <th class="col-3">닉네임</th>
        <th class="col-2">아이디</th>
        <th class="col-1">갤로그</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${postList}">
        <td class="p-1"><p th:text="|${post.postNum}|">글 번호</p></td>
        <td class="p-1"><a class="d-inline-block text-truncate text-nowrap w-100" href="" th:href="@{|${post.url}|}" th:text="${post.title}">제목</a></td>
        <td class="p-1"><p class="text-nowrap w-100" th:text="${#temporals.format(post.wDate, 'yyyy-MM-dd HH:mm:ss')}">작성일</p></td> <!-- 날짜 포맷 수정 -->
        <td class="p-1"><p class="d-inline-block text-truncate text-nowrap w-100" href="" th:text="${post.nickname}">닉네임</p></td>
        <td class="p-1"><p th:text="|${post.userId}|">아이디</p></td>
        <td class="p-1"><a href="" th:href="@{|${post.userUrl}|}" >링크</a></td>
      </tr>
      </tbody>
    </table>
    <p class="text-center" th:if="${#lists.size(postList) == 0}">게시글이 없습니다.</p>
  </div>

</div> <!-- /container -->
</body>
</html>