<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>DC SFF 갤러리 거래 글목록</title>
</head>

<body>
<div class="container">
    <br>
    <div class="form-control" style="max-width: 1250px">
        <div class="row">
            <div class="py-2">
                <button class="w-auto btn btn-primary float-start row mx-auto" th:onclick="|location.href='@{/dcsff}'|" type="button">전체글</button>
                <form th:action method="get" class="row float-end">
                    <div class="col-auto">
                        <label>
                            <select class="form-select" th:field="${cond.searchType}">
                                <option th:value="title" selected>제목</option>
                                <option th:value="content">내용</option>
                                <option th:value="nickname">닉네임</option>
                                <option th:value="userId">아이디</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="검색어를 입력해주세요" th:field="${cond.keyword}" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn  btn-success" type="submit">검색</button>
                    </div>
                </form>
            </div>

            <table class="table table-hover text-center table-striped align-middle" style="table-layout: fixed">
                <thead>
                <tr>
                    <th class="col-1">글번호</th>
                    <th class="col-5">제목</th>
                    <th class="col-2">작성자</th>
                    <th class="col-1">작성일</th>
<!--                    <th class="col-1">갤로그</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="postItem : ${postItem}">
                    <td class="p-2"><span th:text="|${postItem.postNum}|">글 번호</span></td>
                    <td class="p-2"><a th:text="|${postItem.title}|" th:href="@{|/dcsff/${postItem.postNum}|}" class="d-inline-block text-truncate text-nowrap w-100 text-decoration-none" target="_blank" rel="noopener noreferrer">제목</a></td>
                    <td class="p-2"><span th:text="|${postItem.nickname}(${postItem.userId})|" class="d-inline-block text-truncate text-nowrap w-100">닉네임(아이디)</span></td>
                    <td class="p-2"><span th:text="${#temporals.format(postItem.wDate, 'yy-MM-dd HH:mm')}" class="text-nowrap w-100">작성일</span></td>
<!--                    <td class="p-2"><a th:text="링크" th:href="@{|${postItem.userUrl}|}" class="text-decoration-none" th:classappend="${postItem.userUrl.isEmpty()} ? 'd-none' : '' " target="_blank" rel="noopener noreferrer"></a></td>-->
                </tr>
                </tbody>
            </table>
            <p class="text-center" th:if="${#lists.size(postItem) == 0}">게시글이 없습니다.</p>
        </div>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${pageControl.prev}">
                        <form th:action method="get">
                            <input type="hidden" th:field="${cond.searchType}">
                            <input type="hidden" th:field="${cond.keyword}">
                            <!--            <input type="hidden" th:field="${pageDto.pageView}">-->
                            <input type="hidden" name="page" th:value="${pageControl.firstPage}">
                            <input type="submit" class="page-link" aria-hidden="true" value="&laquo;" aria-label="first">
                        </form>
                    </li>
                    <li class="page-item" th:if="${pageControl.prev}">
                        <form th:action method="get">
                            <!--            <input type="hidden" th:field="${pageDto.pageView}">-->
                            <input type="hidden" name="page" th:value="${pageControl.dpStartPage-1}">
                            <input type="submit" class="page-link" aria-hidden="true" value="&lt;" aria-label="prev">
                        </form>
                    </li>
                    <li th:each="page : ${#numbers.sequence({pageControl.dpStartPage}, {pageControl.dpEndPage})}" class="page-item" th:class="${pageControl.pageDto.page} == ${page} ? 'page-item active' : 'page-item'">
                        <form th:action method="get">
                            <input type="hidden" th:field="${cond.searchType}">
                            <input type="hidden" th:field="${cond.keyword}">
                            <!--            <input type="hidden" th:field="${pageDto.pageView}">-->
                            <input type="hidden" name="page" th:value="${page}">
                            <input type="submit" class="page-link" th:value="${page}" aria-label="page" th:class="${pageControl.pageDto.page} == ${page} ? 'page-link active' : 'page-link'">
                        </form>
                    </li>
                    <li class="page-item" th:if="${pageControl.next}">
                        <form th:action method="get">
                            <input type="hidden" th:field="${cond.searchType}">
                            <input type="hidden" th:field="${cond.keyword}">
                            <!--            <input type="hidden" th:field="${pageDto.pageView}">-->
                            <input type="hidden" name="page" th:value="${pageControl.dpEndPage+1}">
                            <input type="submit" class="page-link" aria-hidden="true" value="&gt;" aria-label="next">
                        </form>
                    </li>
                    <li class="page-item" th:if="${pageControl.next}">
                        <form th:action method="get">
                            <input type="hidden" th:field="${cond.searchType}">
                            <input type="hidden" th:field="${cond.keyword}">
                            <!--            <input type="hidden" th:field="${pageDto.pageView}">-->
                            <input type="hidden" name="page" th:value="${pageControl.lastPage}">
                            <input type="submit" class="page-link" aria-hidden="true" value="&raquo;" aria-label="last">
                        </form>
                    </li>
                </ul>
            </nav>
        </div> <!-- paging 관련 -->
    </div>
    <br>
</div> <!-- /container -->
</body>
</html>