<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:fragment="head">
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/pagination.css}" rel="stylesheet">
  <link th:href="@{/css/table.css}" rel="stylesheet">

  <link rel="icon" type="image/x-icon" th:href="@{/favicon/favicon.ico}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
  <link rel="manifest" th:href="@{/favicon/site.webmanifest}">

</head>

<script th:fragment="script" th:src="@{/js/bootstrap.bundle.js}"></script>

</html>