<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpPrice.repository.mybatis.PostMapper">

    <sql id="paging">
        <if test="pageDto != null">
            LIMIT #{pageDto.pageCount}, #{pageDto.pageView}
        </if>
    </sql>

    <sql id="search">
        <where>
            <if test="cond != null">
                <if test="cond.searchType == 'title' and cond.keyword != ''">
                    TITLE LIKE CONCAT('%', #{cond.keyword}, '%')
                </if>
                <if test="cond.searchType == 'nickname' and cond.keyword != ''">
                    NICKNAME LIKE CONCAT('%', #{cond.keyword}, '%')
                </if>
                <if test="cond.searchType == 'userId' and cond.keyword != ''">
                    USER_ID LIKE CONCAT('%', #{cond.keyword}, '%')
                </if>
                <if test="cond.searchType == 'content' and cond.keyword != ''"> <!-- TODO 내용 검색 미리 추가 -->
                    USER_ID LIKE CONCAT('%', #{cond.keyword}, '%')
                </if>
            </if>
        </where>
    </sql>


    <select id="lastPostNum" resultType="Long">
        SELECT
            POST_NUM
        FROM
            POST_LIST
        ORDER BY
            W_DATE DESC
        LIMIT 1
    </select>

    <select id="totalCount" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            POST_LIST
        <include refid="search"/>
    </select>

    <select id="findAll" resultType="PostList">
        SELECT
            *
        FROM
            POST_LIST
        <include refid="search"/>
        ORDER BY
            W_DATE DESC
        <include refid="paging"/>
    </select>




    <insert id="newPostList">
        INSERT INTO
            POST_LIST
            (POST_NUM, W_DATE, TITLE, URL, NICKNAME, USER_ID, USER_URL)
        VALUES
            (#{postNum}, #{wDate}, #{title}, #{url}, #{nickname}, #{userId}, #{userUrl})
    </insert>

    <insert id="newPost">
        INSERT INTO
            POST
            (POST_NUM, CONTENT)
        VALUES
            (#{postNum}, #{content})
    </insert>




    <select id="errorCheck" resultType="Long">
        SELECT
            ERROR_NUM
        FROM
            ERROR_POST
        WHERE
            POST_NUM != 0
            AND IS_RESOLVED = 0
        LIMIT 1
    </select>

    <update id="resolveError">
        UPDATE
            ERROR_POST
        SET
            IS_RESOLVED = 1,
            RESOLVED_DATE = now()
        WHERE
            ERROR_NUM = #{errorNum}
    </update>

    <insert id="errorReport">
        INSERT INTO
            ERROR_POST
            (POST_NUM, ERROR_DESC, ERROR_DATE)
        VALUES
            (#{postNum}, #{errorDesc}, now())
    </insert>
    
    <delete id="deleteErrorPostList">
        DELETE FROM
            POST_LIST
        WHERE
            POST_NUM = #{postNum}
    </delete>


</mapper>