<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpPrice.repository.mybatis.PostMapper">

    <sql id="paging">
        <if test="pageDto != null">
            LIMIT #{pageDto.pageCount}, #{pageDto.pageView}
        </if>
    </sql>

    <sql id="search">
        <where>
            <if test="cond != null and cond.searchType == 'title' and cond.keyword != ''">
                TITLE LIKE CONCAT('%', #{cond.keyword}, '%')
            </if>
            <if test="cond != null and cond.searchType == 'nickname' and cond.keyword != ''">
                NICKNAME LIKE CONCAT('%', #{cond.keyword}, '%')
            </if>
            <if test="cond != null and cond.searchType == 'userId' and cond.keyword != ''">
                USER_ID LIKE CONCAT('%', #{cond.keyword}, '%')
            </if>
        </where>
    </sql>


    <select id="lastPostNum" resultType="Long">
        SELECT
            POST_NUM
        FROM
            POST
        ORDER BY
            W_DATE DESC
        LIMIT
            1
    </select>

    <select id="totalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            POST
        <include refid="search"/>
    </select>

    <select id="findAll" resultType="Post">
        SELECT
            *
        FROM
            POST
        <include refid="search"/>
        ORDER BY
            W_DATE DESC
        <include refid="paging"/>
    </select>

    <insert id="newPost">
        INSERT INTO
            POST
                (POST_NUM, W_DATE, TITLE, URL, NICKNAME, USER_ID, USER_URL)
            VALUES
                (#{postNum}, #{wDate}, #{title}, #{url}, #{nickname}, #{userId}, #{userUrl})
    </insert>


</mapper>